.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1150px;
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.content{
    flex: 1;
}
.wrapper-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(148, 148, 148, 0.411);
    & > :first-child {
        margin: auto;
    }
}